.ipynb_checkpoints/
API - Standard Daypart Forecast v1.0.pdf
FOSS4G_demos.pdf
TWC Icon Codes  Icon Images v2.0.pdf
blog/
derby.log
final_pres/
metastore_db/
src/
Weather-Forecast-PixieApp-copy-1.ipynb
TWC+Weather+PixieApp-3.ipynb
TWC+Weather+PixieApp-4.ipynb
TWC+Weather+PixieApp-5.ipynb
TWC+Weather+PixieApp-6.ipynb
TWC+Weather+PixieApp-7.ipynb
